<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defectpropertycount" value="<%=defectpropertycount%>" />
    <add key="defectexcelpath" value="<%=defectexcelpath%>" />
    <add key="completedexcelfiles" value="<%=completedexcelfiles%>" />
    <add key="invalidexceldefectstructure" value="<%=invalidexceldefectstructure%>" />
    <add key="invaliddefectformat" value="<%=invaliddefectformat%>" />
    <add key="invaliddefect" value="<%=invaliddefect%>" />
    <add key="validdefect" value="<%=validdefect%>" />
    <add key="user" value="<%=user%>" />
    <add key="password" value="<%=password%>" />
  </appSettings>
  <system.serviceModel>
     <bindings>
		<%= bindings %>
    </bindings>
    <client>
		<%= client %>
    </client>
  </system.serviceModel>
</configuration>